<header class="bg-gray-900 text-white py-4">
    <nav class="flex justify-between items-center container mx-auto">
        <div class="text-xl font-bold ml-4 md:ml-4">
            Lista de Contatos
        </div>
        <div class="hidden md:block text-sm mr-4">
            <ul class="flex space-x-4">
                <li><a routerLink="/" routerLinkActive="active">Página Inicial</a></li>
                <li><a routerLink="/adicionar" routerLinkActive="active">Adicionar Contato</a></li>
            </ul>
        </div>
    </nav>
</header>