<div class="flex flex-col items-center justify-center">
    <h2 class="text-xl font-bold">Lista de Contatos</h2>
    <app-button-action texto="Adicionar Contato" [link]="['/adicionar']"></app-button-action>

    <div *ngFor="let contato of contatos" class="bg-gray-800 m-4 p-4 flex flex-row rounded-lg">
        <div class="flex flex-row mt-2 ml-2">
            <div class="flex flex-col items-center">
                <div class="text-xl font-bold bg-white rounded-full w-12 h-12 flex items-center justify-center">
                    {{ contato.nome[0] }}
                </div>
            </div>
            <div class="flex flex-col ml-4 items-start justify-center mb-4">
                <div class="text-md font-bold text-white">
                    {{ contato.nome }}
                </div>
                <div class="text-xs font-bold text-white">
                    {{ contato.telefone }}
                </div>
            </div>

            <div class="flex flex-col ml-8 mr-4 items-center justify-center mb-4">
                <div class="text-xs font-bold text-white">
                    <a [routerLink]="['/editar', contato.id]">
                        Editar
                    </a>
                </div>

                <!--botao remove contato-->
                <div class="text-xs font-bold text-white">
                    <a (click)="excluirContato(contato.id)" class="cursor-pointer">
                        Remover
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>